In [1]:
import pandas as pd

In [3]:
#https://queirozf.com/entries/pandas-dataframe-groupby-examples#concatenate-strings-in-group
df = pd.DataFrame({
    'user_id':[1,2,1,3,3,],
    'content_id':[1,1,2,2,2,],
    'tag':['cool','nice','clever','clever','not-bad']
})
df

   user_id  content_id      tag
0        1           1     cool
1        2           1     nice
2        1           2   clever
3        3           2   clever
4        3           2  not-bad

In [7]:
#concat string in group
df.groupby('content_id')['tag'].apply(lambda x : ','.join(x))

content_id
1                cool,nice
2    clever,clever,not-bad
Name: tag, dtype: object