In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/challenge.csv')
df.head()

       ip_address    Country       Domain Name  Bytes_used
0   52.81.192.172      China  odnoklassniki.ru         463
1  119.239.207.13      China          youtu.be          51
2   68.69.217.210      China         adobe.com          10
3    7.191.21.223   Bulgaria      linkedin.com         853
4    211.13.10.68  Indonesia           hud.gov          29

In [7]:
# 1. Add a column to say Yes or No to check whether country is Mexico
df['Is_Mexico'] = df.apply(lambda x : 'Yes' if x['Country']=='Mexico' else 'No',axis=1)
df.head(1)

      ip_address Country       Domain Name  Bytes_used Is_Mexico
0  52.81.192.172   China  odnoklassniki.ru         463        No

In [9]:
# 2. Group by your new column and sum by bytes used
df.groupby('Is_Mexico')['Bytes_used'].sum().to_frame().sort_values('Bytes_used',ascending=False)

           Bytes_used
Is_Mexico
No             508076
Yes              6293

In [15]:
# 3. Group by Country and use sqlfunc.countDistinct to calculate no.of ipaddresses seen in each country
df.groupby('Country')['ip_address'].nunique().to_frame().sort_values('ip_address',ascending=False)

                                  ip_address
Country
China                                    172
Indonesia                                114
Philippines                               65
Russia                                    56
Brazil                                    35
...                                      ...
Cuba                                       1
Rwanda                                     1
Saint Vincent and the Grenadines           1
Samoa                                      1
Denmark                                    1

[128 rows x 1 columns]